<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <div style="width:400px;float:left">
      <h2> <strong> Bem vindo1! </strong> </h2>
      <textarea id="ta1" cols="50" rows="25"></textarea><br/>
      <input id="in1" type="text"/>
      <button id="bt1"> Enviar </button>
    </div>
    <div style="width:400px;float:right">
      <h2> <strong> Bem vindo! </strong> </h2>
      <textarea id="ta2" cols="50" rows="25"></textarea><br/>
      <input id="in2" type="text"/>
      <button id="bt2"> Enviar </button>
    </div>
    <script type="text/javascript" src="js/socket.io.js"> </script>
    <script type="text/javascript" src="js/jquery.js"> </script>
    <script type="text/javascript" src="js/chat.js"> </script>
  </body>
  </html>
